*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(../Imagens/belas-constelacoes-e-planeta.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    /* CHAVE: Use 'align-items' para centralizar a CAIXA .parent */
    align-items: center; 
}

.parent {
    display: grid;
    width: 300px;  
    height: 550px; 
    background-color: rgb(49, 49, 49); 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 1fr auto; 
    gap: 15px;
    margin: 0; 
    padding: 0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
}


.login { 
    grid-area: 1 / 1 / 2 / 9;
    color: rgb(5, 5, 5);
    text-align: center;
}
.cat { grid-area: 2 / 1 / 3 / 9;
        display: flex;
        justify-content: center; 
        box-shadow: 2px 2px 2px black;

        
}

.cat > img{
    object-fit: cover;
    width: 130px;
    height: 110px
    
}
.form { 
    grid-area: 3 / 1 / 4 / 9; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.form > input{
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
}

.filho{
    display: flex;
    align-items: center;
}

.filho > label{
    color: greenyellow;
}

.filho > input{
    color: white;
    background-color: rgb(39, 39, 39);
    width: 90%;
}
.entrar { 
    grid-area: 4 / 1 / 5 / 9; 
    display: flex;
    justify-items: center;
}

.entrar > input{
    width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color:rgb(39, 39, 39) ;
    color: rgb(71, 71, 71);
}



